
<p>
    "<strong><%= product.title %></strong>"
    isimli Ürünü silmek istiyor musunuz?</p>

<form method="post">
    <button type="submit" class="delete-btn">Evet</button>
    <a href="/products">Vazgeç</a>
</form>
<script src="/js/main.js"></script>
